#button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    position: fixed;
    bottom: 120px;
}

#popupbox {
    border-color: var(--black);
    padding: 20px;
    margin-top: 50px;
}

.label-input-container {
    display: inline-block;
}

#cardnumbercontainer, #current_card_number {
    width: 100%;
}

label {
    display: block;
}

#cardnumber {
    width: calc(100% - 10px);
}

.expiration, #current_card_month, #current_card_year {
    width: 2em;
}

#cvvcontainer, #current_card_cvv {
    float: right;
}

#cvv, #current_card_cvv {
    width: 3em;
}

.currentcard {
    display: inline-block;
    border: 1px solid var(--black);
    margin-bottom: 10px;
    height: 1em;
}

#currentcard, #popupbox {
    display: none;
    margin-top: 35px;
    max-width: 400px;
}