
#header{
   font-size: 150%;
   text-align: center;
   width: 100%;
   position: fixed;
   top: 20px;
}

#carName, #pricePM {
   text-align: center;
   width: 80%;
   margin: auto;
}

#carName {
   font-size: 150%;
}

#pricePM{
   font-size: 100%;
}

#cancelButton{
   color: var(--green);
   text-align: center;
   font-size: 90%;
   top: 45%;
}

#timeSection{
   font-size: 150%;
   text-align: center;
   color: var(--green);
}

#cancelButton, #timeSection {
   max-width: 350px;
}

#timeSection p {
   margin: 0;
}

#time{
   color: black;
   text-align: center;

}

#timeStamp{
   color: black;
}

#CR {
   text-decoration: none;
   color: var(--green);
}

#carinfo-container {
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
}

.infobox{
   min-width: 70px;
   text-align: center;
   position: relative;
   border-radius: 10px;
   border-width: 3px;
   padding: 10px;
   margin: auto;
   margin-bottom: 25px;
   margin-top: 5px;
   box-shadow: 0px 2px 10px;
}

.material-icons{
   color: var(--green);
   font-size: 2em;
}

#back-button span{
   color: black;
}

@media screen and (max-height: 799px) {
   #main {
      overflow: scroll;
      position: relative;
      margin-top: 200px;
      width: 100%;
      padding: 0;
      height: 350px;
   }
}

@media screen and (min-height: 800px) {
   #main {
      position: fixed;
      margin-top: 200px;
      width: 100%;
      padding: 0;
   }
}
@media screen and (min-width: 920px){
   #carinfo-container {
      position: fixed;
      top: 180px;
      width: 100%;
      max-width: 400px;
      max-height: 600px;
      display: flex;
      flex-direction: column;
   }
}

.pullee {
   background: none;
   display: flex;
   width: 20rem;
   appearance: none;
}
.pullee:active::-webkit-slider-thumb {
   appearance: none;
   transform: scale(1.1);

}
.pullee:active::-moz-range-thumb {
   border: 0;
   transform: scale(1.1);

}
.pullee:active::-ms-thumb {
   transform: scale(1.1);

}
.pullee:focus {
   outline: none;
}

/*the ball*/
.pullee::-webkit-slider-thumb {
   background-image: url("../img/lock.png");
   appearance: none;
   display: block;
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   transform-origin: 50% 50%;
   transform: scale(1);
   transition: transform ease-out 100ms
}
.pullee::-moz-range-thumb {
   border: 0;
   display: block;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background: #34CC27BF;
   transform-origin: 50% 50%;
   transform: scale(1);
   transition: transform ease-out 100ms;
}
.pullee::-ms-thumb {
   display: block;
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background: #F0ECEC;
   transform-origin: 50% 50%;
   transform: scale(1);
   transition: transform ease-out 100ms;
}
/*the slide box*/
.pullee::-webkit-slider-runnable-track {
   height: 3rem;
   padding: 0.25rem;
   box-sizing: content-box;
   border-radius: 4rem;
   background-color: #F0ECEC;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pullee::-moz-range-track {
   height: 1rem;
   padding: 0.25rem;
   box-sizing: content-box;
   border-radius: 1rem;
   background-color: #F0ECEC;
}
.pullee::-moz-focus-outer {
   border: 0;
}
.pullee::-ms-track {
   border: 0;
   height: 1rem;
   padding: 0.25rem;
   box-sizing: content-box;
   border-radius: 1rem;
   background-color: #dde0e3;
   color: transparent;
}
.pullee::-ms-fill-lower, .pullee::-ms-fill-upper {
   background-color: transparent;
}

.pullee::-ms-tooltip {
   display: none;
}

.center-xy {
   position: absolute;
   bottom: 11%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.textForSlider{
   margin-top: -40px;
   margin-left: 90px;
}

