html {
    font-size: 24px;
    font-style: italic;
    text-align: center;
}

#receiptpaper p {
    font-size: 1em;
    color: var(--grey);
}

#header h2 {
    color:rgba(52, 204, 39, 0.75);
    font-size:2em;
}
#receiptpaper{
    position: absolute;
    width: 340px;
    height: 48%;
    top: 26%;
    left: calc((100vw - 340px) / 2);


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    z-index: 2;
}

#receiptHole{
    position: absolute;
    width: 380px;
    height: 2%;
    top: 26%;
    left: calc((100vw - 380px) / 2);

    background: rgba(52, 204, 39, 0.75);
    border-radius: 221px;
    z-index: 1;
}

#receiptHole, #receiptpaper {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#popupbox {
    display: none;
    position: absolute;
    height: 216px;
    top: 200px;
    text-align: center;
    border: 5px solid rgba(52, 204, 39, 0.75);
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #FFFFFF;
    width: 80%;
    max-width: 300px;
    z-index: 3;
}

#popupbox p, #popupbox h3 {
    color: var(--green);
}

#popupbox h3 {
    font-size: 3rem;
}

.pullee {
    width: 13rem;
    appearance: none;
}
.pullee:active::-webkit-slider-thumb {
    appearance: none;
    transform: scale(1.1);

}
.pullee:active::-moz-range-thumb {
    border: 0;
    transform: scale(1.1);

}
.pullee:active::-ms-thumb {
    transform: scale(1.1);

}
.pullee:focus {
    outline: none;
}
/*the ball*/
.pullee::-webkit-slider-thumb {
    appearance: none;
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-image: url("../img/money.svg");
    background-repeat: no-repeat;
    background-size: 2.8rem 2.8rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform ease-out 100ms
}
.pullee::-moz-range-thumb {
    border: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #34CC27BF;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform ease-out 100ms;
}
.pullee::-ms-thumb {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #F0ECEC;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform ease-out 100ms;
}
/*the slide box*/
.pullee::-webkit-slider-runnable-track {
    height: 3rem;
    padding: 0.25rem;
    box-sizing: content-box;
    border-radius: 4rem;
    background-color: #F0ECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.pullee::-moz-range-track {
    height: 1rem;
    padding: 0.25rem;
    box-sizing: content-box;
    border-radius: 1rem;
    background-color: #F0ECEC;
}
.pullee::-moz-focus-outer {
    border: 0;
}
.pullee::-ms-track {
    border: 0;
    height: 1rem;
    padding: 0.25rem;
    box-sizing: content-box;
    border-radius: 1rem;
    background-color: #dde0e3;
    color: transparent;
}
.pullee::-ms-fill-lower, .pullee::-ms-fill-upper {
    background-color: transparent;
}
.pullee::-ms-tooltip {
    display: none;
}

.center-xy {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 900px){
    .box{
        font-size: 16px;
    }
}