#originalButton {
    visibility: hidden;
}

#account-pic {
    max-width: 150px;
    max-height: 150px;
}

#account-container {
    z-index: 1;
    position: relative;
    margin-top: 100px;
    text-align: center;
}

#account-name {
    margin: 0;
}