body {
    background: #efca97;
    margin: 0;
}

#header {
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: #37210e;
    color: white;
}

.material-icons {
    font-size: 96px;
}

h1 {
    text-align: center;
    font-size: 96px;
    margin-top: 0;
}

#header div {
    font-size: 50px;
}

p {
    color: white;
    font-size: 3em;
    margin: 5px 0;
}

.svg {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 100%;
}

@media (min-device-width: 600px) {
    p {
        font-size: 1.5em;
    }

    .material-icons {
        font-size: 56px;
    }

    h1 {
        text-align: center;
        font-size: 56px;
        margin: 0;
    }

    #header div {
        font-size: 25px;
    }

    #header {
        margin-bottom: 20px;
    }
}