a {
    text-decoration: none;
    color: inherit;
}

#menubutton {
    z-index: 10;
    position: fixed;
    width: 120px;
    height: 120px;
    left: 10px;
    top: 10px;
}

#menu {
    position: relative;
    display: inline-block;
}

#menubox {
    border-right: 5px solid white;
    display: none;
    position: fixed;
    padding-top: 200px;
    margin: 0;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #37210e;
}

ul {
    padding: 0;
}

li {
    font-size: 5em;
    color: white;
    border-top: 5px solid white;
    padding: 25px 40px;
    list-style-type: none;
}



#menu:hover #menubox {
    display: block;
    overflow-y: scroll;
}

#menubutton path {
    fill: white;
}

@media (min-device-width: 450px) {
    li {
        font-size: 3.5em;
        padding: 15px 40px;
    }
}

@media (min-device-width: 600px) {
    li {
        font-size: 2em;
        padding: 15px 40px;
    }

    #menubox {
        padding-top: 100px;
        width: 30%;
    }

    #menubutton {
        width: 80px;
        height: 80px;
    }
}

@media (min-device-width: 1200px) {
    #menubox {
        width: 20%;
    }
}