#originalReceipt {
    visibility: hidden;
}

.receipt {
    background: #87572D;
    width: 33%;
    margin: 15px auto;
    border-radius: 15px;
    padding: 10px;
    border: 4px solid #5D3619;
    position: relative;
}

